<div>
  <img src='../../assets/img/SafeMeet Logo.png' class='logo'/>
  <div class="row" style="margin-left: 20px;margin-right: 20px;">

    <!-- 1st field -->
    <div class="col-md-3 col-sm-3 col-xs-3">
      <div class="form-group">
        <select (change)="this.dataGetService.clearError('categories')" [ngClass]="{'error' : this.dataGetService.errorCategory}" [(ngModel)]="dataGetService.category"
          class="form-control input-lg" id="sel1">
          <option selected>I'm looking for... </option>
          <option value="{{categories.pluralName}}" *ngFor='let categories of this.dataGetService.categories?.categories' >{{categories.pluralName}}</option>
       </select>
      </div>
    </div>

    <!-- 2nd field -->
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="form-group">
        <input (change)="this.dataGetService.clearError('location')" [ngClass]="{'error' : this.dataGetService.errorLocation}" type="text"
          class="form-control input-lg" placeholder="Where..." [(ngModel)]="dataGetService.location">
      </div>
    </div>
    <div class='col-md-1' style='vertical-align: middle;'>
      <h2>within</h2>
    </div>
    <!-- 3rd field -->
    <div class="col-md-1 col-sm-1 col-xs-1">
      <div class="form-group">
        <input (change)="this.dataGetService.clearError('radius')" type="text"
          class="form-control input-lg" placeholder="Radius (in miles)" [(ngModel)]="dataGetService.radius">
      </div>
    </div>
    <div class='col-md-1' style='vertical-align: middle;'>
      <h2>Miles</h2>
    </div>

    <!-- search button -->
    <div class="col-md-2 col-sm-2 col-xs-2">
      <button routerLink="/home/results" type="button" class="btn btn-primary btn-lg" (click)="dataGetService.collectData()"><i class="fa fa-search" aria-hidden="true"></i> Search </button>
    </div>
    <!-- error messages -->
    <div class="col-md-6 col-sm-6 col-xs-6"><span *ngIf="this.dataGetService.errorCategory" [ngClass]="{'error-msg' : this.dataGetService.errorCategory}">Please select category</span></div>
    <div class="col-md-4 col-sm-4 col-xs-6"><span *ngIf="this.dataGetService.errorLocation" [ngClass]="{'error-msg' : this.dataGetService.errorLocation}">Please enter location</span></div>

  </div>
</div>
<div class="row justify-content-end">
  <div class='col-md-3' style='overflow-y: scroll;height: 500px;'>
    <h2 style='color: blue'>Available Locations</h2>
    <div *ngFor='let list of this.dataGetService.data?.venues' class="row justify-content-center">
      <div class="col-md-8 result"><b>Venue: </b> {{list.name}} <br> &nbsp; <b>Address:</b>{{list.location.formattedAddress}}</div>
      <div class="col-md-1 col-sm-1 col-xs-1 result"><button class="btn btn-default btn-sm">
        <a target="_blank" href="http://maps.google.com/maps?q={{list.location.lat}},{{list.location.lng}}">
        <i class="fa fa-map" aria-hidden="true"></i></a> </button></div>
    </div>
  </div>
    
  <div class="col-md-3" style='overflow-y: scroll;height: 500px'>
    <h2 style='color: red'>Safe Meets</h2>
    
    <mat-card class="example-card">
        <mat-card-title>Safe Meets In Your Area!</mat-card-title>
        <mat-card-subtitle>{{dataGetService.category}}</mat-card-subtitle>
      <mat-card-content>
        <button mat-raised-button (click) = "openCreateDialog()">CREATE EVENT</button>    
      </mat-card-content>
    </mat-card>
    
    <div *ngFor='let event of this.dataGetService.list_results'>
      <mat-card class="example-card">
        <mat-card-title>{{event.event_name}}
        </mat-card-title>
        <mat-card-subtitle>          <br>
          {{event.time.toDate() | date:'yyyy-MM-dd h:mm:ss Z'}}
          <br>
          {{event.address}}
         </mat-card-subtitle>
        <mat-card-content style = "text-align: center">
          {{event.event_description}}
          <br>
          <b> Attendees: </b>
          <a *ngFor='let attendee of event.attendees' style = "text-align: center">
              {{attendee}},
          </a>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click) = "openJoinDialog(event.event_id)">JOIN</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

  <div class="col-md-6">
    <app-map></app-map>
  </div>
</div>

<!-- results displaying -->
  <!-- <div class="col-md-6">
    
  </div>
    <div *ngFor='let list of this.dataGetService.data?.venues' class="col-md-12 col-sm-12">
        <div class="col-md-6 col-md-6 col-xs-6 result"> - <b>Venue:</b> {{list.name}} <br> &nbsp; <b>Address:</b>{{list.location.formattedAddress}}</div>
        <div class="col-md-6 col-sm-6 col-xs-6 result"><button class="btn btn-default btn-sm"><a target="_blank" href="http://maps.google.com/maps?q={{list.location.lat}},{{list.location.lng}}">
          <i class="fa fa-map" aria-hidden="true"></i> show on map</a> </button></div>
    </div>
  </div> -->

